$dark: #292a2b;
$light: #F7F7EB;

body, html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.wedding-website {
    font-family: 'Open Sans', sans-serif;

    .section { 
        height: 100vh; 
        min-height: 580px;
        position: relative;
        background-color: $light;

        &.dark {
            background-color: $dark;
        }

        &.unrestricted-height {
            height: auto;
            min-height: auto;
        }
    }

    .title-container {
        color: $light;
        position: absolute;
        top: 50vh;
        left: 30vw;
        text-align: center;
        margin-left: -155px;
        margin-top: -140px;
        font-weight: 300;
        z-index: 10;

        .large-title {
            font-size: 84px;
            letter-spacing: 13px;
        }

        .small-title {
            font-size: 24px;
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            font-style: italic;
        }
    }

    .fireworks {
        height: 100vh;
        min-height: 580px;
        right: 0;
        top: 0;
        position: absolute;
    }

    .baethany {
        height: 100vh;
        min-height: 580px;
        left: 0;
        top: 0;
        position: absolute;
    }

    .rings {
        position: absolute;
        bottom: 0;
        margin-bottom: -57px;
        height: 120px;
        left: 50vw;
        margin-left: -60px;
        z-index: 10;

        &.inverted {
            margin-bottom: -63px;
        }
    }

    .are-getting-married-container {
        right: 0;
        width: 60vw;
        text-align: center;
        margin-top: 30px;
        position: absolute;
        top: 50vh;
        margin-top: -227px;
        color: $dark;
        z-index: 10;

        .are-getting-married {
            color: $dark;
            font-size: 50px;
            letter-spacing: 8px;
            font-weight: 300;
        }

        .when-where-container {
            display: inline-block;
            margin-top: 50px;

            .column {
                margin-bottom: 10px;
                font-size: 20px;
                text-align: left;
                float: left;

                &.column-1 {
                    width: 120px;
                    font-style: italic;
                    clear: left;
                }
            }
        }
    }

    .rsvp {
        color: $light;
        text-align: center;
        font-size: 20px;
        top: 50vh;
        margin-top: -224px;

        .rsvp-title {
            font-size: 84px;
            letter-spacing: 13px;
            font-weight: 300;
            margin-top: 30px;
        }

        .rsvp-info {
            margin-top: 40px;

            .rsvp-button {
                letter-spacing: 5px;
                margin-top: 20px;
            }
        }
    }

    .rsvp-divider {
        position: absolute;
        left: 50vw;
        border-right: 2px solid $light;
        height: 70vh;
        top: 15vh;
        width: 0;
    }

    .rsvp-divider-horizontal {
        border-bottom: 2px solid $light;
        width: 70vw;
        margin-left: 15vw;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .streaming-info {
        color: $light;
        text-align: center;
        font-size: 20px;
        top: 50vh;
        margin-top: -224px;

        .streaming-info-title {
            font-size: 64px;
            letter-spacing: 13px;
            font-weight: 300;
            margin-top: 40px;
            margin-bottom: 55px;
        }
    }

    .registry {
        position: absolute;
        color: $dark;
        top: 50vh;
        width: 100vw;
        text-align: center;
        margin-top: -200px;

        .registry-title {
            font-size: 84px;
            font-weight: 300;
            letter-spacing: 13px;
        }

        .registry-info {
            font-size: 20px;
        }
    }

    .accomodations {
        color: $light;
        padding: 20px;
        padding-top: 80px;
        padding-bottom: 100px;
        width: 100vw;
        text-align: center;

        .accomodations-title {
            font-size: 84px;
            font-weight: 300;
            letter-spacing: 13px;
            margin-bottom: 20px;
        }

        .accomodations-info {
            font-size: 20px;
            font-weight: 300;
        }

        .accomodation-image {
            border: 5px solid $light;
            display: inline-block;
            margin-bottom: 20px;
        }

        hr {
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }

    .travel {
        color: $dark;
        padding: 20px;
        padding-top: 80px;
        padding-bottom: 100px;
        width: 100vw;
        text-align: center;

        .travel-title {
            font-size: 84px;
            font-weight: 300;
            letter-spacing: 13px;
        }

        .travel-info {
            font-size: 20px;
        }

        .travel-image {
            border: 5px solid $dark;
            display: inline-block;
            margin-bottom: 20px;
        }

        hr {
            margin-top: 40px;
            margin-bottom: 40px;

            border-color: $dark;
        }
    }

    .tourism {
        color: $light;
        padding: 20px;
        padding-top: 80px;
        padding-bottom: 100px;
        width: 100vw;
        text-align: center;

        .tourism-title {
            font-size: 84px;
            font-weight: 300;
            letter-spacing: 13px;
        }

        .tourism-info {
            font-size: 20px;
        }
    }

    .photos {
        color: $dark;
        padding: 20px;
        padding-top: 80px;
        padding-bottom: 100px;
        width: 100vw;
        text-align: center;

        .photos-title {
            font-size: 84px;
            font-weight: 300;
            letter-spacing: 13px;
        }

        .photos-info {
            font-size: 20px;
        }
    }
}

@media (max-width: 767px) {
    .wedding-website {
        .title-container {
            left: 50vw;
            margin-left: -140px;

            .large-title {
                font-size: 54px;
                letter-spacing: 8px;
            }
        }

        .are-getting-married-container {
            width: 100vw;

            .when-where-container {
                .column {
                    font-size: 16px;

                    &.column-1 {
                        width: 70px;
                    }
                }
            }
        }

        #info {
            height: 120vh;
        }

        #rsvp {
            height: 170vh;
        }

        .rsvp {
            font-size: 14px;

            .rsvp-info {
                .rsvp-button {
                    letter-spacing: 0px;
                    margin-top: 20px;
                }
            }
        }

        .streaming-info {
            font-size: 14px;
        }

        .registry {
            .registry-title {
                font-size: 54px;
                letter-spacing: 8px;
            }

            .registry-info {
                font-size: 14px;
            }
        }

        .accomodations {
            .accomodations-title {
                font-size: 54px;
                letter-spacing: 8px;
            }

            .accomodations-info {
                font-size: 14px;
            }

            .accomodations-info {
                text-align: center;
            }
        }

        .travel {
            .travel-title {
                font-size: 54px;
                letter-spacing: 8px;
            }

            .travel-info {
                font-size: 14px;
            }
        }

        .tourism {
            .tourism-title {
                font-size: 54px;
                letter-spacing: 8px;
            }

            .tourism-info {
                font-size: 14px;
            }
        }

        .photos {
            .photos-title {
                font-size: 54px;
                letter-spacing: 8px;
            }

            .photos-info {
                font-size: 14px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .wedding-website {
        .title-container {
            left: 30vw;
            margin-left: -150px;

            .large-title {
                font-size: 64px;
                letter-spacing: 10px;
            }
        }

        #rsvp {
            height: 130vh;
        }

        .rsvp {
            top: 10vh;
            margin-top: 0;
        }

        .streaming-info {
            top: 30vh;
            margin-top: 0;
        }

        .accomodations {
            .accomodations-title {
                font-size: 54px;
                letter-spacing: 8px;
            }

            .accomodations-info {
                text-align: center;
            }
        }
    }
}

@media (max-aspect-ratio: 1/1) { 
    .hidden-portrait {
        display: none;
    }

    .wedding-website {
        .title-container {
            left: 50vw;
            margin-left: -140px;
            
            .large-title {
                font-size: 54px;
                letter-spacing: 8px;
            }
        }

        .are-getting-married-container {
            right: 0;
            width: 100vw;
        }
    }
}

@media (min-width: 992px) {
    .accomodation-image {
        float: right;

        &.accomodation-image-left {
            float: left;
        }
    }

    .travel-image {
        float: right;

        &.travel-image-left {
            float: left;
        }
    }

    .accomodation-description-left {
        text-align: left;
    }

    .accomodation-description-right {
        text-align: right;
    }

    .travel-description-left {
        text-align: left;
    }

    .travel-description-right {
        text-align: right;
    }
}