body, html {
    padding: 0;
    margin: 0;
}

.wedding-website {
    font-family: 'Lato', sans-serif;

    .section { 
        height: 100vh; 

        background-color: #F2F1E9;

        &.dark {
            background-color: #3D3D3D;
        }
    }

    .title-container {
        color: #F2F1E9;
        position: absolute;
        top: 50vh;
        left: 35vw;
        text-align: center;
        margin-left: -155px;
        margin-top: -100px;
    }
}